    .container {
        width: 1280px;
        display: grid;
        grid-template-columns: 635px 635px;
        grid-template-rows: 500px 400px;
        grid-gap: 10px;
    }
    .container-tracks {
        width: 1280px;
        display: grid;
        grid-template-columns: 635px 635px;
        grid-template-rows: 297px 297px 296px;
        grid-gap: 10px;
    }
    .subcontainer {
        font-size: 16px;
        border-style: solid;
        border-width: 1px;
    }
    .subcontainer-tracks {
        text-align: center;
    }