body {
    text-align: center;
}
.container {
    width: 1280px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin: 10px auto 10px auto;
}
.container-home {
    grid-template-rows: 500px 400px;
    text-align: left;
}
.container-tracks {
    grid-template-rows: 297px 297px 296px;
}
.subcontainer {
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
}
.subcontainer-tracks {
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.trackinfo {
    width: 1150px;
    margin: 10px auto 10px auto;
    display: flex;
}
.tracktext {
    width: 680px;
}
.trackfilters {
    width: 100%;
    text-align: right;
}
.filtergrid {
    display: grid;
    grid-template-columns: 50% 50%;
}
button {
    width: 90%;
    height: 90%;
}
.external {
    display: table;
    position: relative;
    top: 0;
    left: 15;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.internal {
    margin-left: auto;
    margin-right: auto;
}
.topbar{
    display: flex;
    width: 1280px;
    margin: 10px auto 10px auto;
}
.topleft {
    width: 150px;
    font-size: 26px;
}
.topcenter {
    width: 870px;
}
.topright {
    width: 150px;
}