body {
    text-align: center;
}
.container {
    width: 1280px;
    display: grid;
    grid-template-columns: 635px 635px;
    grid-template-rows: 500px 400px;
    grid-gap: 10px;
    text-align: left;
    margin: 10px auto 10px auto;
}
.container-tracks {
    width: 1280px;
    display: grid;
    grid-template-columns: 635px 635px;
    grid-template-rows: 297px 297px 296px;
    grid-gap: 10px;
    margin: 10px auto 10px auto;
}
.subcontainer {
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
}
.subcontainer-tracks {
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.trackinfo {
    width: 1200px;
    margin: 10px auto 10px auto;
    display: flex;
}
h1 {
    margin: auto 10px auto 10px;
}
.cssgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 500px;
}
button {
    width: 90%;
    height: 90%;
}