body {
    text-align: center;
    font-size: 24pt;
}
.container {
    width: 1170px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    margin: 10px auto 10px auto;
}
.container-home {
    grid-template-rows: 500px 400px;
    text-align: left;
}
.subcontainer {
    font-size: 16px;
}
.subcontainer-tracks {
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}
.trackinfo {
    width: 1150px;
    margin: 10px auto 10px auto;
    display: flex;
}
.tracktext {
    width: 680px;
}
.trackfilters {
    width: 100%;
    text-align: left;
}
@media (max-width: 1175px) {
    .filtergrid {
        display: grid;
        grid-template-rows: 50% 50%;
    }
    button {
        width: 316px;
        height: 50px;
        margin-bottom: 10px;
    }
}
@media (min-width: 1176px) {
    .filtergrid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    button {
        width: 316px;
        height: 128px;
    }
}
.external {
    display: table;
    position: relative;
    height: 100%;
    width: 95%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.internal {
    margin-left: auto;
    margin-right: auto;
}
.topbar{
    display: flex;
    width: 1170px;
    margin: 10px auto 10px auto;
}
.topleft {
    width: 150px;
    font-size: 26px;
}
.topcenter {
    width: 870px;
}
.topright {
    width: 150px;
}
.text{
   font-size: 20px;
   text-align: left;
   margin: 20px auto 10px auto;
   width: 1170px;
}
tr:hover{
	background-color: #F0F0F0;
}
table{
	border-spacing: 0;
}
article{
	font-size: 20px;
	line-height: 1.6em;
}
h2{
	font-size: 23px;
}
